$fancyFont: 'Roboto Slab', Roboto, Avenir, Helvetica, sans-serif;
$bannerHighlight: #2d3764;
$matsimBlue: #648cb4;
$navHeight: 2.5rem;
$paleBackground: #eceff2;
$sizeMobile: 30em;
$themeColor: #3498db;
$darkBackground: #181518;
